<html>

<head>
    <title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
<a href="/contact">Contact</a>
<a href="/about">About</a> <br>
<hr>
<img src={{ url_for('static', filename='img/bird.png') }} alt="bird" style="width:100px;height:100px;">
    <h1>Welcome to the About Page</h1>
    <p>{{time}}</p>
    <br><b> {{sum}} </b>
       <a href="/about">refresh</a>
    <footer>
        <p>&copy; {{year}} Your Company</p>
    </footer>
</body>

</html>
